*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #D9DCD4;
    user-select: none;
}

header{
    background-color: #009688;
    height: 100px;
    width: 100%;
    position: absolute;
    z-index: 0;
}

main{
    height: 86vh;
    width: 80%;
    max-width: 1200px;
    margin: auto;
    background-color: #ECEDEE;
    position: relative;
    top: 7vh;
    display: flex;
}

i{
    margin: 0 12px;
    color: #7F8081;
}

aside{
    width: 30%;
    display: flex;
    flex-direction: column;
}

.userbar{
    display: flex;
    height: 60px;
    padding: 5px;
    border-right: 1px solid #D1D2D3;
    background-color: #ECEDEE;
}

.userbar .img-container{
    height: 40px;
    width: 40px;
}

.img-container img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.whitespace{
    flex-grow: 1;
    padding: 5px;
    display: flex;
    justify-items: center;
    color: #6A746F; 
    flex-direction: column;
}

.instruments{
    display: flex;
    align-items: center;
}

.notifications{
    height: 60px;
    display: flex;
    align-items: center;
    padding: 5px;
}

.silent{
    background-color: #9CE1FF;
}

.silent-text{
    color: #9CE1FF;
}

.active{
    background-color: lightgreen;
}

.active-text{
    color: lightgreen;
}

.bellcontainer{
    background-color: white;
    width: 40px;
    border-radius: 50%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bellcontainer i{

}

.textcontainer{
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    position: relative;
}

.textcontainer h4{
    font-size: 16px;
    color: #6A746F; 
}

.textcontainer p{
    font-size: 12px;
    color: #6A746F; 
}

.notifications .textcontainer p{
    text-decoration: underline;
}

.inputcontainer{
    padding: 5px 10px;
    position: relative;
}

.inputcontainer i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
}

.inputcontainer input{
    width: 100%;
    margin: auto;
    border-radius: 20px;
    padding: 5px 10px 5px 50px;
    border: 1px solid #7F8081;
}

input:focus{
    outline: none;
}

.flexoverflowcontainer{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: auto;
}

.userdiv{
    padding: 5px;
    display: flex;
    align-items: center;
    background-color: white;
}

.darker{
    background-color: #8b8b8b;
}

.userdiv:hover{
    background-color: #D3D4D5;
}

.userimg{
    width: 50px;
    height: 50px;
}
.userimg img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

article{
    width: 70%;
    background-image: url(imgs/mine.jpg);
    display: flex;
    flex-direction: column;
}

.messagerow{
    padding: 10px;
    display: flex;
    width: 100%;
    flex-direction: column;
}

.messagebaloon{
    border-radius: 8px;;
    padding: 5px 20px 5px 5px;
    text-align: center;
    width: 20%;
    position: relative;
    margin: 10px
}

.messagebaloon:hover i{
    display: block;
}

.messagebaloon p{
    font-size: 10px;
    color: #6A746F;
    position: absolute;
    bottom: 0;
    right: 5px;
}

.messagebaloon i{
    position: absolute;
    top: 2px;
    right: 2px;
    font-size: 10px;
    display: none;
}

.green{
    background-color: #E0F9CB;
    align-self: flex-end;
}

.green::after{
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 10px 0 10px;
    border-color: #E0F9CB transparent transparent transparent;
    position: absolute;
    right: -10px;
    top: 0;
}

.white{
    background-color: white;
    align-self: flex-start;
}

.popup{
    background-color: #ecedee;
    position: absolute;
    width: 100px;
    z-index: 2;
    top: 15px;
    right: 20px;
    border-radius: 8px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .4);
    overflow: hidden;
}

.popup h4{
    font-size: 12px;
    padding: 10px;
    font-weight: 100;
    transition: background-color .3s;  
}

.popup h4:hover{
    background-color: #D3D4D5;
}

.white::after{
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 10px 0 10px;
    border-color: white transparent transparent transparent;
    position: absolute;
    left: -10px;
    top: 0;
}

.messageinputarea{
    height: 60px;
    background-color: #ECEDEE;
    display: flex;
    align-items: center;
    border-left: 1px solid #D1D2D3;
}

.messageinputarea input{
    border-radius: 20px;
    flex-grow: 1;
    padding: 5px;
    border: 1px solid #7F8081;
}

.fa-paper-plane:hover{
    color: rgb(0, 157, 255);
  
}

.time{
    position: absolute;
    right: 0;
    bottom: 0;
}